@{
    ViewData["Title"] = "Add To Reading List";
}

<head>
    <style>
        div {
            margin: 10px;
        }
    </style>
</head>

<div class="col-2"></div>
<div>
    <h1>Add to Reading List</h1>
</div>
<div class="col-8">
    <form action="/action_page.php">
        @* book title *@
        <div>
            <label for="bookTitle">Book Title:</label>
            <input type="text" id="bookTitle" name="bookTitle" />
        </div>
        @* author *@
        <div>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" />
        </div>
        @* book review *@
        <div>
            <label for="notes">Notes/Description:</label>
        </div>
        <textarea name="notes" id="notes" rows="5" cols="33"></textarea>

        <div>
            <a class="btn btn-warning" asp-controller="Home" asp-action="ReadingList">Cancel</a>
            <a class="btn btn-success">Submit</a>
        </div>
    </form>
</div>
<div class="col-2"></div>