{% extends 'petapp/base.html' %}
{% block body %}
    <div id="homecontainer">
    <table id="home">
    <tbody>
    <tr>
        <td>
            <img src="https://media.baamboozle.com/uploads/images/364643/1624785824_60601_gif-url.gif" alt="goat" id="gif"/>
        </td>
        <td>
            <h1 id="welcome">Welcome to the Pet Palooza Shop!</h1>
        </td>
        <td>
            <img src="https://thumbs.gfycat.com/AgileElegantKronosaurus-max-1mb.gif" alt="chihuahua faces" id="gif"/>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <h3>✿ We have all kinds of exotic animals up for adoption.</h3>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <h3>✿ We have dogs, cats, goats, horses, frogs, lizards, etc.</h3>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <h3>✿ Each listing provides info on how difficult is it to take care of each animal.</h3>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <h3>✿ If you're looking for a specific type of animal, you can search for it.</h3>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <h3>✿ Feel free to reach out using our interest form to get more info on that pet.</h3>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <h3>✿ To get started, click on Pets above. Good luck, we hope you find your dream pet!</h3>
        </td>
    </tr>
    </tbody>
    </table>
</div>
{% endblock %}